{% extends "model-page.html" %} #extentendo o conteúdo do model-page.html

{% block content %}

{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="{% static 'css/agenda.css' %}" rel="stylesheet">


<div class="center-column">

    <div align="center">
        <a href="evento/">
            <button class="btn btn-sm btn-info">Novo Evento</button>
        </a>
        <a href="historico/">
            <button class="btn btn-sm btn-info">Histórico</button>
        </a>
    </div>

    <div class="todo-list" >
        {% for evento in eventos %}
        <div class="item-row"
             {% if evento.get_evento_atrasado %}
                style="color:red"
             {% elif evento.get_evento_1h_para_iniciar %}
                style="color:#008000;"
             {% else %}
                style="color:#000000"
             {% endif %}  >
                {{ evento.titulo }} - {{ evento.get_data_evento }}
                <a class="btn btn-sm btn-danger"
                   href="evento/delete/{{ evento.id }}/"
                   style="float: right; ">Excluir</a>
                <a class="btn btn-sm btn-info"
                   href="evento/?id={{ evento.id }}"
                   style="float: right;margin-right:5px">Editar</a>

        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}


{% include "model-footer.html" %}