{% extends "model-page.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="{% static 'css/agenda.css' %}" rel="stylesheet">

<div class="center-column" align="center" style="font-size: 20px; font-weight: bold;">Salvar um novo evento: <br>
    <div class="item-row" >

        <form action="submit" method="POST" style="color:#000000"> {% csrf_token %}

            <input type="number" name="id_evento" value="{{ evento.id }}" hidden>


            <input type="text" id="inputText" class="form-control" placeholder="Título" name="titulo"
                   value="{{ evento.titulo }}" required autofocus>

            <input type="datetime-local" id="data_evento" class="form-control" placeholder="Título" name="data_evento"
                   value="{{ evento.get_data_input_evento }}" required autofocus>

            <textarea class="form-control" name="descricao" rows="5" cols="46"
                      placeholder="Descrição">{{ evento.descricao }}</textarea> <br>

            <button class="btn btn-sm btn-info" type="submit">Salvar</button>
            <a href="/">
                    <button class="btn btn-sm btn-danger" type="button">Cancelar</button>
            </a>
        </form>
    </div>
</div>

{% endblock %}