{% extends "model-page.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="{% static 'css/agenda.css' %}" rel="stylesheet">

<div class="center-column">

    <div  align="center" style="font-size: 20px; font-weight: bold;">HISTÓRICO: <br> </div>

    <div class="todo-list" >
        {% for evento in eventos %}
        <div class="item-row" style="color:#000000">
                {{ evento.get_data_evento }} - {{  evento.titulo}}
                <a class="btn btn-sm btn-danger"
                   href="evento/delete/{{ evento.id }}/"
                   style="float: right">Excluir</a>


        </div>
        {% endfor %}

    </div>
    <div align="right"> <br>
        <a href="../">
            <button class="btn btn-sm btn-info">Voltar</button>
        </a>
    </div>

</div>


{% endblock %}


{% include "model-footer.html" %}
